@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --Dark-Blue: 209deg 23% 22%; /*(Dark Mode Elements)*/
    --Very-Dark-Blue-Txt: 200deg 15% 8%; /*(Light Mode Text)*/
    --Very-Dark-Blue-Bg: 207deg 26% 17%; /*(Dark Mode Background)*/
    --Dark-Gray: 0deg 0% 52%; /*(Light Mode Input)*/
    --Very-Light-Gray: 0deg 0% 98% /*(Light Mode Background)*/;
    --White: 0deg 0% 100%; /*(Dark Mode Text & Light Mode Elements)*/

    --homeItems: 14px;
  }
}
